<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Express</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Benvenuto nel mio server Express</h1>
  </body>
</html>
